{% extends 'base.html.twig' %}

{% block title %}Evenements
{% endblock %}

{% block body %}


	<section class="evements">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Nos événements</h1>
				<p class="lead">Retrouvez tous nous événements à venir</p>
			</div>
		</div>

		{% if events %}

			<div class="" style="margin-top : 100px; margin-bottom : 100px">
				<div class="row">
					{% for event in events %}


						<div class="col-sm2 mx-auto">
							<div class="card card-event" style="width: 18rem; background-color: #8a8d8f;">
								{% if event.filename %}


									<img src="../appdata/event/{{ event.filename }}" class="card-img-top img-card" alt="...">

								{% else %}
									<div style="background-color : black; height :165px ; width : 100%;"></div>

								{% endif %}
								<div class="card-body">
									<h5 class="card-title">{{ event.title }}</h5>
									<p class="card-text h-10 text-truncate">{{ event.description | raw }}</p>
									<li class="list-group-item w-100 " style="background-color : #b1b3b3;">Prévu pour le:
										{{ event.date | date ('d/m/Y à H:i')}}</li>
									<a href=" {{ path('show_event', {'id': event.id }) }}" class="btn btn-secondary" style="position:absolute; bottom: 10px;">En savoir plus</a>
								</div>
							</div>
						</div>


					{% endfor %}
				</div>
			</div>

		{% else %}

			<div style="height : 400px">
				<div class="alert alert-dark mx-auto text-center w-50" role="alert">
					Il n'y a pas d'évenements de prévus
				</div>
			</div>

		{% endif %}


	</section>

{% endblock %}
