{% extends 'base.html.twig' %}

{% block body %}


    <h2>{{ event.title }}</h2>
    <div class="content">
        <img src="{{ event.image}}" alt="">
        <p>{{ event.description | raw}}</p>
        <p>Prix: {{ event.price }}€</p>
        <p>Evenement: {{ event.recursion.name }}</p>
    </div>
    <div class="row">
        {% if event.photos is not empty %}
        {% for photo in event.photos %}
        <div class="col">
        <img src="{{ photo.url}}" alt="">
        <p>Photo postée par: {{photo.author.firstName}}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>Il n'y a pas de photos pour cet évenement.</p>
        
        {% endif %}
    </div>
    <a href="{{ path('event') }}">Retour a la liste</a>
{% endblock %}