{% extends 'base.html.twig' %}

{% block body %}


    <h2>{{ event.title }}</h2>
    <div class="content">
        <img src="{{ event.image}}" alt="">
        <p>{{ event.description | raw}}</p>
        <p>Prix: {{ event.price }}€</p>
        <p>Evenement: {{ event.recursion.name }}</p>
    </div>

    <a href="{{ path('event') }}">Retour a la liste</a>

    <div class="row">
        {% if event.photos %}
        {% for photo in event.photos %}
        <div class="col">
        <img src="{{ photo.url}}" alt="">
        <p>{{photo.author.firstName}}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

        



{% endblock %}