{% extends 'base.html.twig' %}

{% block title %}Inscrivez vous{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Inscrivez vous avec vos identifiant CESI</h1>
        <p class="lead">
            Vos compte BDE et cesi seront automatiquement liés
        </p>
    </div>
</div>
<div class="m-4 text-center">
    {{ form_start(form) }}

    <div class="form">
        {{ form_errors(form.email) }}
        {{ form_errors(form.password) }}
        <div class="">
                {{ form_widget(form.name, {'attr':
                        {
                        'placeholder' : "Nom"
                        }
                    }) 
                }}
            </div>
        <div class="">
                {{ form_widget(form.firstName, {'attr':
                        {
                        'placeholder' : "Prénom"
                        }
                    }) 
                }}
            </div>
        <div class="">
                {{ form_widget(form.password, {'attr':
                        {
                        'placeholder' : "Mots de passe"
                        }
                    }) 
                }}
            </div>
        <div class="">
            {{ form_widget(form.email, {'attr':
                    {
                    'placeholder' : "Email"
                    }
                }) 
            }}
        </div>
        <div class="">
            {{ form_widget(form.center, {'attr':
                    {
                    'placeholder' : "Centre"
                    }
                }) 
            }}
        </div>

        <button type="submit" class="btn btn-dark btn-block mt-4">
            S'inscrire
        </button>
    </div>
    <div class="mt-4">
        <span class="meta">Vos comptes sont deja liés ? </span>
        <br />
        <a href="{{path('security_login')}}">Connectez-vous</a>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}