{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<h2 class="title py-2">Boutique</h2>
<div class="container-fluid">
    <h1>Meilleur ventes</h1>
    <div class="row">
        
        {% for item in bestSeller %}
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    {{ item[0].name }} | {{item[1]}} ventes
                </div>
                <div class="card-body">
                    <div class="meta">
                        Categorie : {{ item[0].category.name }}
                    </div>
                    {{ item[0].description }}
            
                    Prix : {{item[0].price ? item[0].price : "Gratuit"}}
                    <a href="{{path('shop_show', {'id': item[0].id }) }}" class="btn btn-dark">
                        Détails
                    </a>
                    <a href="{{path('cart_add', {'id': item[0].id }) }}" class="btn btn-dark"> 
                        Ajouter au panier
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {{form_start(form)}}
    <div class="row">
        <div class="col-6 col-md-3 mb-2">
            {{form_widget(form.maxPrice)}}
        </div>
        <div class="col-6 col-md-3">
            {{form_widget(form.category)}}
        </div>
        <div class="col-6 col-md-3">
            {{form_widget(form.orderBy)}}
            {{form_widget(form.orderType)}}

        </div>
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-dark btn-block">Rechercher</button>
            <a href="{{path('shop_checkout')}}" class="btn btn-dark btn-block">Voir le Panier</a>
        </div>
    </div>
    {{form_end(form)}}

    <div class="row">
        {% if goodies is empty %}
        <div class="alert alert-danger btn-block text-center">
            Pas de résultat
        </div>
        {% endif %}
    </div>
    <div class="row m-4">
            {% for goody in goodies %}
            <div class="col-md-6 col-lg-4 mb-2">
                <div class="card">
                    <div class="card-header">
                        {{ goody.name }}
                    </div>
                    <div class="card-body">
                        <div class="meta">Categorie : {{ goody.category.name }}</div>
                        {{ goody.description }}

                        Prix : {{goody.price ? goody.price : "Gratuit"}}
                        <a href="{{path('shop_show', {'id': goody.id }) }}" class="btn btn-dark"> Détails</a>
                        <a href="{{path('cart_add', {'id': goody.id }) }}" class="btn btn-dark"> Ajouter au
                            panier</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    <div class="row align-center">
        {{ knp_pagination_render(goodies) }}
    </div>
</div>

{% endblock %}