{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Notre boutique</h1>
			<p class="lead">Retrouvez tous nos goodies ici !</p>
		</div>
	</div>

<div class="container-fluid">

    <div class="alert alert-style mx-auto text-center" role="alert">
  Retrouve nos 3 meilleurs ventes
</div>

    {% if bestSeller is not empty %}
    <div class="row">     
        {% for item in bestSeller %}
        <div class="col-md mb-2 mt-3">
            <div class="card">
                <div class="card-header">
                    
<<<<<<< Updated upstream
                    <p class="size-text-shop ml-5">{{ item.name }} | {{item.quantitySold}} ventes</p>
                        <p style="margin-left: 80%">Prix : {{item.price ? item.price : "Gratuit"}}€</p>
=======
                    <p class="size-text-shop ml-5">{{ item[0].name }} | {{item[1]}} ventes</p>
                        <p class="mrg-l-80">Prix : {{item[0].price ? item[0].price : "Gratuit"}}€</p>
>>>>>>> Stashed changes
                </div>
                <div class="card-body">
                    
                     <div class="meta">Categorie : {{ item.category.name }}</div>
                        <p>Description : {{ item.description }}</p><br>

                    <div style="margin-left: 55%">
<<<<<<< Updated upstream
                        <a href="{{path('shop_show', {'id': item.id }) }}" class="btn btn-dark"> Détails</a>
                        <a href="{{path('cart_add', {'id': item.id }) }}" class="btn" style="background-color : #e4002b; color : white;"> Ajouter au
=======
                        <a href="{{path('shop_show', {'id': item[0].id }) }}" class="btn btn-dark"> Détails</a>
                        <a href="{{path('cart_add', {'id': item[0].id }) }}" class="btn delete-button" > Ajouter au
>>>>>>> Stashed changes
                            panier</a>
                        </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <hr>

    {{form_start(form)}}

    <div class="row">
        <div class="col-2 col-md-2 mb-2 mx-auto">
            {{form_widget(form.maxPrice)}}
        </div>
        <div class="col-2 col-md-2 mx-auto">
            {{form_widget(form.category)}}
        </div>
        <div class="col-2 col-md-2 mx-auto">
            {{form_widget(form.orderBy)}}
           
        </div>
        <div class="col-2 col-md-2 mx-auto">
        {{form_widget(form.orderType)}}
        </div>
        <div class="col-2 col-md-2 mx-auto">
            <button type="submit" class="btn btn-dark btn-block">Rechercher</button>
            <a href="{{path('shop_checkout')}}" class="btn btn-dark btn-block">Voir le Panier</a>
        </div>
    </div>
    {{form_end(form)}}
    <hr>

    <div class="row">
        {% if goodies is empty %}
        <div class="alert alert-danger btn-block text-center">
            Pas de résultat
        </div>
        {% endif %}
    </div>
    <div class="row m-4">
            {% for goody in goodies %}
            <div class="col-md-6 col-lg-4 mb-2">
                <div class="card">
                    <div class="card-header" style="height : 90px;">
                        <p class="size-text-shop ml-5">{{ goody.name }}</p>
                        <p class="mrg-l-80">Prix : {{goody.price ? goody.price : "Gratuit"}}€</p>
                    </div>
                    <div class="card-body">
                        <div class="meta">Categorie : {{ goody.category.name }}</div>
                        <p>Description : {{ goody.description }}</p><br>
    
                        <div style="margin-left: 55%">
                        <a href="{{path('shop_show', {'id': goody.id }) }}" class="btn btn-dark"> Détails</a>
                        <a href="{{path('cart_add', {'id': goody.id }) }}" class="btn delete-button"> Ajouter au
                            panier</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    <div class="row align-center">
        {{ knp_pagination_render(goodies) }}
    </div>
</div>

{% endblock %}