{% extends 'base.html.twig' %}

{% block title %}{{goody.name}}{% endblock %}

{% block body %}

<h1>Name : {{ goody.name }}</h1>

Description
{{ goody.description }}
Price
{{ goody.price }}
category
{{ goody.category.name }}


    <a href="{{ path('shop') }}">back to shop</a>


    
{% endblock %}
