<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
            <h1>Avis de Restriction</h1>
            <p>
                {{ user.firstName ~ " " ~ user.name }} a demandé la modération du contenu suivant :
            </p>
            {% if class(item) == "Comment" %}
                Le commentaire posté par {{ item.author.firstName ~" "~ item.author.name }}. <br>
                Avec le contenu : {{ item.content }}
            {% elseif class(item) == "Photo"  %}
                La photo posté par {{ item.author.firstName ~" "~ item.author.name }} sur l'evenement {{ item.evenement.title }}
                Avec l'url : {{ item.url }}
            {% elseif class(item) == "Evenement"  %}
                L'evenement "{{ item.title }}" ayant lieu le {{ item.date |date("d/m/Y") }}
            {% else %}
                Object not found
            {% endif %}
            <p>
                Merci aux membre du bde de faire le necessaire pour modifier/supprimé le contenu en question
            </p>
    </body>
