<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            BDE Strasbourg | {% block title %}
            {% endblock %}
        </title>
        <!--FontAwesome-->
        <script src="https://kit.fontawesome.com/8190148fda.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link
        rel="stylesheet" href={{ asset('css/bootstrap.min.css')}}>
        <!--Custom style sheet-->
        <link rel="stylesheet" href={{ asset('css/custom.css')}}> {% block stylesheets %}{% endblock %}
        </head>

        <body>

            <header>
                <div class="jumbotron jumbotron-fluid" id="banner"></div>

                <nav class="navbar navbar-expand-lg navbar-dark" id="navbar" style="background-color : #27251f">
                    <a class="navbar-brand" href="#">BDE Strasbourg</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('index')}}">Acceuil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('shop')}}">Boutique</a>
                            </li>
                            <div class="dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evénements</a>                           
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{path('event')}}">Evénements à venir</a>
                                <a class="dropdown-item" href="{{path('event')}}">Evénements passés</a>
                              </div>
                            </div>
                        </ul>
                    </div>

                     <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: gray">Connexion</a>                           
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{path('security_login')}}">Connexion</a>
                        <a class="dropdown-item" href="{{path('security_register')}}">Inscription</a>
                    </div>
                </nav>
            </header>

                            {% block body %}{% endblock %}

           <!-- <div class="borderleft">

            </div>-->

            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non diam vel dui sagittis vulputate vitae ut urna. Etiam porttitor dapibus rhoncus. Suspendisse potenti. Sed vitae molestie massa, et bibendum massa. Integer nec massa a nulla rhoncus tristique in eu mauris. Mauris in risus tempus tellus sollicitudin fermentum quis eu urna. Aliquam ultrices sapien sit amet elit aliquam, et dapibus lorem varius. Integer posuere et elit tempus dapibus. Morbi tristique bibendum dignissim. Pellentesque egestas consequat faucibus. Maecenas mi ligula, ullamcorper nec pulvinar non, egestas lacinia turpis. Aliquam tellus nisl, tincidunt in mi a, aliquet porttitor enim. Cras tincidunt molestie ipsum, quis venenatis quam efficitur ut. Cras faucibus porttitor nunc eu vestibulum. Morbi sed neque non orci condimentum maximus.

Duis in sapien tellus. Aliquam elementum finibus quam in aliquet. Aenean mauris ex, bibendum quis vestibulum vel, placerat ac purus. Etiam venenatis purus nec porttitor accumsan. Aenean at felis et justo scelerisque mollis. Integer mollis diam lectus, eu feugiat neque ornare vel. Suspendisse potenti. Curabitur vel nibh in lacus finibus imperdiet. Praesent lacinia dui vel tempor congue. Integer tortor eros, porta eu pulvinar sit amet, blandit vel metus. Integer gravida ultricies ipsum. Nulla tristique bibendum ultrices. Donec feugiat mattis arcu eget faucibus. Aliquam posuere ante eu pretium ultricies. Etiam ultrices sapien vel metus mollis, ut rhoncus erat aliquet. Curabitur scelerisque eu massa in consectetur.

Nulla facilisi. Fusce tempus pharetra leo, sed rutrum mauris viverra nec. Nam scelerisque eget erat quis porttitor. Quisque ut semper elit. Sed sed metus quis dui facilisis sollicitudin. Aenean interdum mauris in lectus aliquam fermentum. Nam dignissim nisi eget mi egestas fermentum. Mauris pellentesque sed mauris et egestas. Maecenas aliquam ut urna pulvinar imperdiet. Mauris lacus ante, pulvinar ac ex sed, luctus vulputate velit. Nullam feugiat consequat orci, sed ullamcorper nunc convallis vel. Aenean sed quam ut diam sollicitudin ornare id eget mauris.

Fusce varius mi at turpis tempor finibus. Mauris venenatis facilisis nisl, nec tincidunt nisl scelerisque non. Pellentesque tincidunt facilisis tellus, a dapibus metus consectetur sit amet. Sed dignissim id dui sit amet accumsan. Praesent mollis massa id mauris elementum, eu congue nulla bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet nisi metus, eget eleifend sem tempus eget. Nulla egestas facilisis arcu vel euismod. Maecenas ut posuere tortor. Suspendisse aliquam, magna sed ullamcorper ornare, nunc lectus fermentum lorem, a luctus leo diam in enim. Donec rutrum tincidunt risus, vel tempor dolor faucibus a. Nunc ac nisi nibh. Nulla facilisi. Aliquam sit amet bibendum sem, vehicula imperdiet lacus. Sed tincidunt at libero sit amet tempor. Vestibulum eget tortor mi.

Curabitur commodo ex urna, ornare consectetur est facilisis id. Curabitur feugiat laoreet ex eu maximus. Aliquam rutrum at turpis a accumsan. Cras ac finibus ligula. In efficitur, sapien at faucibus tempor, diam enim pretium massa, a interdum odio orci nec nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ut quam eget sem euismod tincidunt. Donec ligula tellus, consectetur sit amet porttitor vitae, mollis vel purus. Sed consequat ipsum vehicula hendrerit bibendum. Fusce interdum magna nibh, quis sodales odio mattis sit amet. Mauris convallis mi nec neque egestas rhoncus. Sed commodo nisl id sem cursus, at fermentum turpis porta. Phasellus placerat mi vel ligula viverra, vitae pulvinar odio vehicula. Duis eros ipsum, placerat non egestas id, mollis a odio. Sed id sem lacus.</p>

            </div>

            

                <footer style="sticky : bottom">
                    <div class="container"> 
                    <div class="row">
                        <div class="col-sm">
                            <p class="">
                            <h4 id="list-item-1">Information</h4>  
                           
                            </p>   
                        </div>  
                        <div class="col-sm">
                            <p class="">
                            <h4 class="">Suivez nous sur :</h4>  
                            
                            </p> 
                        </div>
                        <div class="col-sm">
                                <p class="">
                                <h4 class="">Informations légales </h4>  
                                </p> 
                            </div>
                    </div>
                    </div>
                </footer>

               


                {% block javascripts %}  


                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
                 {% endblock %}
            </body>
        </body>
    </html>
</body></html>
