{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produits</h1>
    <a href="{{ path('goodies_new') }}" class="btn btn-dark">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goody in goodies %}
            <tr>
                <td>{{ goody.name }}</td>
                <td>{{ goody.description }}</td>
                <td>{{ goody.price }}</td>
                <td>
                    <a href="{{ path('shop_show', {'id': goody.id}) }}" class="btn btn-dark">Voir</a>
                    <a href="{{ path('goodies_edit', {'id': goody.id}) }}" class="btn btn-dark">Editer</a>
                    {{ include('goodies/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
